/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px 0px;
  background-image: url("https://images2.alphacoders.com/747/thumb-1920-747506.jpg");
  background-position: top center;
  background-size: auto 100vh;
  background-repeat: no-repeat;
}

.body-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 20px;
  padding: 10px 5px;
  background-color: rgba(200, 230, 255, 0.9);
  border-bottom: 2px solid grey;
}

.navbar > a {
  padding: 8px 15px;
  background-color:cornflowerblue;
  border: 1px solid rgba(80, 129, 217, 1);
  border-radius: 6px;
  width: 80px;
  text-align: center;
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.5);
  color: black;
  text-decoration: none;
}

.navbar > a:hover {
  background-color: rgba(100, 149, 237, 0.6);
  cursor: pointer;
}

#index-welcome, .data-display {
  padding: 10px;
  background-color: rgba(185, 185, 185, 0.5);
  margin: 5px;
  /* border: 1px solid white; */
}

.list-description {
  display: grid;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  gap: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.list-description.three-column {
  grid-template-columns: 3fr 1fr 1fr;
}

.list-description.two-column {
  grid-template-columns: 2fr 1fr;
}

.list-description.one-column {
  padding-left: 10px;
  text-decoration: underline;
}

.list-description-text {
  text-decoration: underline;
}

.list-modify {
  font-size: 16px;
  font-weight: 400;
}

.list-modify > a {
  text-decoration: none;
  color: black;
  background-color: rgb(134, 185, 230);
  padding: 8px 12px;
  border: 1px solid rgba(80, 129, 217, 1);
  border-radius: 8px;
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.5);
}

.list-modify > a:hover {
  background-color: rgb(166, 202, 234);
}

.list {
  display: grid;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.list-wrapper {
  display: grid;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.list-wrapper > .btn-wrapper {
  display: grid;
  padding-left: 20px;
}

.list-wrapper > .btn-wrapper > a {
  text-decoration: none;
  color: black;
  padding: 8px 12px;
  background-color: rgb(134, 185, 230);
  border: 1px solid rgba(80, 129, 217, 1);
  border-radius: 8px;
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.5);
  width: max-content;
}

.list-wrapper > .btn-wrapper > a:hover {
  background-color: rgb(166, 202, 234);
}

.list-item {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  position: relative;
}

.list-edit-btn, .list-delete-btn {
  position: absolute;
  right: 60px;
  min-width: 45px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px 12px;
  border: 1px solid black;
  border-radius: 5px;
  transform: translatex(50%);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 16px;
}

.list-edit-btn {
  top: 20px;
}

.list-delete-btn {
  bottom: 20px;
}

.list-edit-btn:hover, .list-delete-btn:hover {
  background-color: lightyellow;
}

.name {
  font-size: 18px;
  margin-bottom: 4px;
}

.name > a {
  color: black;
  text-decoration: none;
}

.name > a:hover {
  color: blue;
}

.list-subitem {
  margin-left: 8px;
  margin-top: 3px;
}

.true {
  color: green;
}

.false {
  color: red;
}

.value-color {
  color: darkblue;
}

.form-wrapper {
  display: grid;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  padding: 15px 5px;
  background-color: rgba(185, 185, 185, 0.5);
}

.form-wrapper > * {
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
}

.form-description {
  padding: 8px 15px;
  text-align: center;
}

.form-wrapper > form {
  padding: 12px 15px;
  display: grid;
  gap: 10px;
}

.form-line-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-line-item > label {
  justify-self: right;
  padding-right: 15px;
}

.form-line-item > input {
  justify-self: left;
  width: 100%;
}

.form-line-item > input[type="checkbox"] {
  width: max-content;
}

.form-line-submit {
  margin: auto;
  margin-top: 12px;
}

.form-line-submit > input[type="submit"] {
  padding: 5px 8px;
  font-size: 16px;
  background-color: rgb(62, 209, 62);
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-line-submit > input[type="submit"]:hover {
  background-color: rgb(83, 231, 83);
}

.data-display > * {
  max-width: 800px;
  margin: auto;
  margin-bottom: 15px;
}