/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px 0px;
  background-image: url("https://images2.alphacoders.com/747/thumb-1920-747506.jpg");
  background-position: top center;
  background-size: auto 100vh;
  background-repeat: no-repeat;
}

.body-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 20px;
  padding: 10px 5px;
  background-color: rgba(200, 230, 255, 0.9);
  border-bottom: 2px solid grey;
}

.navbar > a {
  padding: 8px 15px;
  background-color:cornflowerblue;
  border: 1px solid rgba(80, 129, 217, 1);
  border-radius: 6px;
  width: 80px;
  text-align: center;
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.5);
  color: black;
  text-decoration: none;
}

.navbar > a:hover {
  background-color: rgba(100, 149, 237, 0.6);
  cursor: pointer;
}

#index-welcome, .data-display {
  padding: 10px;
  background-color: rgba(185, 185, 185, 0.5);
  margin: 5px;
  /* border: 1px solid white; */
}

.list-description {
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}

.list {
  display: grid;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.list-item {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
}

.name {
  font-size: 18px;
  margin-bottom: 4px;
}

.name > a {
  color: black;
  text-decoration: none;
}

.name > a:hover {
  color: blue;
}

.list-subitem {
  margin-left: 8px;
  margin-top: 3px;
}

.true {
  color: green;
}

.false {
  color: red;
}

.value-color {
  color: darkblue;
}