/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px 0px;
  background-image: url("https://images2.alphacoders.com/747/thumb-1920-747506.jpg");
  background-position: top center;
  background-size: auto 100vh;
  background-repeat: no-repeat;
}

.body-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 20px;
  padding: 10px 5px;
  background-color: rgba(220, 220, 220, 0.7);
  border-bottom: 2px solid grey;
 }

 .navbar > div {
  padding: 8px 15px;
  background-color:cornflowerblue;
  border: 1px solid black;
  border-radius: 6px;
  width: 80px;
  text-align: center;
 }

 .navbar > div:hover {
  background-color: rgba(100, 149, 237, 0.6);
  cursor: pointer;
 }

 .navbar > div > a {
  color: black;
  text-decoration: none;
 }

 #index-welcome {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 5px;
  border: 1px solid white;
 }